/* span{
    color: rgb(255, 246, 127);
}

h2, h3{
    color: brown;
}
.name{
    color: chartreuse;
}
#unique{
    color: coral;
    background-color: rgb(20, 197, 220);
}

*{
    color: blueviolet;
} */
/* 
div p {
    color: yellow;
}

div >P{
    color: gold;
}

a+p{
    color: darkblue;
} */

a ~p{
    color: brown;
}

h1:hover{
    color: red ;
}