/* span{
    color: rgb(255, 246, 127);
}

h2, h3{
    color: brown;
}
.name{
    color: chartreuse;
}
#unique{
    color: coral;
    background-color: rgb(20, 197, 220);
}

*{
    color: blueviolet;
} */
/* 
div p {
    color: yellow;
}

div >P{
    color: gold;
}

a+p{
    color: darkblue;
} */

a ~p{
    color: brown;
}

h1:hover{
    color: red ;
}

li:hover{
    color: orange;
    
}
#unique:hover{
    color: rgb(25, 154, 214);
}
/* 
li:first-child{
    color: aquamarine;
}

li:last-child{
    color: rgb(219, 7, 7);
} */
/* 
li:nth-child(2n){
    color: violet;
}
li:nth-child(2n+1){
    color: violet;}
 */

h1::before{
    content: "Oye ";
}

h1::after{
    content: " Samaj gya na ";
}

h1::selection{
    color: blue;
    background-color: aqua;
}