*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: chocolate;
    
}
.wrapper{
    display: flex;
    flex-direction:row;
    border :4px solid rgb(230, 16, 16);
    justify-content: center;
    justify-content: end;
    justify-content: start;
}