* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    padding: 20px 40px;
    display: inline-block;
    border: 1px solid black;
    animation-name: dance;
    animation-duration: .9s;
    animation-timing-function: linear;
    background-color: rgb(164, 81, 81);
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

@keyframes dance {
    from {
        background-color: rgb(164, 81, 81);

    }

    to {
        background-color: rgb(92, 22, 191);
        transform: translate(40px ,100px) scale(1.3);


    }
}
/* @keyframes dance {
    0% {
        background-color: rgb(164, 81, 81);

    }

    25% {
        background-color: rgb(92, 22, 191);
        transform: translate(40px ,100px) scale(1.3);


    }
    50%{background-color: rgb(22, 154, 191);
        transform: translate(10px ,120px) scale(1.3);

    }

    75%{background-color: rgb(191, 22, 25);
        transform: translate(100px ,3px) scale(1.3);

    }
    100%{background-color: rgb(4, 44, 26);
        transform: translate(40px ,100px) scale(1.3);

    }
} */