#bhai{
    font-family: "Yuyu";
}
#dev{
    font-size: 50px;
}
p{
    font-size: 30px;
    font-weight:bolder ;
}

#gupil{
    font-style: italic;
    font-variant:small-caps;
    

}
.lorem{
    line-height: 1;
    letter-spacing: 2px;
    word-spacing: 43px;
}

#piyush{
    text-align: center;
}
#jahanvi{
    text-align: center;
    border: 1px solid black;
    display: block;
    /* text-decoration: underline dashed rebeccapurple ; */
    text-decoration: underline wavy rgb(33, 11, 144);
    text-transform: uppercase;
    text-indent: 5px;
    text-shadow: 10px 5px 10px rebeccapurple;
}


#color{
    color: red;
    color: #000000;
    color: #ffffff;
    color: #ff0000;
    color: #00ff00;
    color: #0000ff;
    color: rgb(0, 255, 255);
    color: rgba(65, 54, 155, 1);
    color: hsl(43, 100%, 50%  );
    color: hsla(43, 100%, 50% ,0.5);
    background-color: rgb(3, 54, 55)

}


